.home{
    background-color: #f5f5f5;
}


/* performance steps */
.performance_steps{
   padding: 30px 0;
}
@media(max-width:768px){
    .performance_steps{
        text-align:center !important;
     }
}
.performance_steps .small_title{
  color: #056839;
  margin-bottom: 20px;
}
.performance_steps .steps_title{
    margin-bottom: 50px;
}
.performance_steps .step{
    position: relative;
    margin-bottom:60px;
}
.performance_steps .step .step_number{
   position: absolute;
   font-size: 213px;
   z-index: 2;
   bottom:0;
}
.right_zero{
    right: 0;
}
.left_zero{
    left:0;
}
.performance_steps .step .step_content{
  position: relative;
  z-index: 1;
}
  @media(max-width:992px){
    .performance_steps .step .step_content{
        text-align:center !important;
     }
}

.performance_steps .step .step_content .icon {
    color: #056839;
    background-color: #0489d72e;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

@media(max-width:768px){
    .performance_steps .step .step_content .icon{
        margin:auto !important;
     }
}
.performance_steps .step .step_content p{
    font-size: 18px;
}

/* Services */
.services img{
    height: auto;
    max-width:100%;
}
.services .details h6{
   color: #2fab73;
}
.services .details ul li{
    margin-bottom: 10px;
}
.services .details ul .icon{
    color: #2fab73;
    margin:0 20px;
}
.services .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.services .details p{
    font-size: 17px;
}
.services .details  li{
    font-size:  17px;
    margin-bottom: 5px;
}

/* Download Apps */
.download_app{
    padding: 200px 0;
}
.download_app .download_content{
   padding-top:30px;
   min-height:250px;
   height: auto;
   border-radius:20px;
   color:#fff;
   position:relative;
   background-image: url('../images/bgServices.svg');
   background-size:cover;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-repeat:no-repeat;
   background-position:center;
}
.phone_img{
  position:absolute;
  right: 100px;
  top: -158px;
}
@media(max-width:992px){
    .download_app{
        padding: 20px 0;
    }
    .phone_img{
       display: none;
    }
}
/* === Footer === */
footer{
    padding-top: 40px;
    background-color: #f7f7f7;
}
footer .logo,
footer .contact,
footer .link,
footer .download{
    margin-bottom: 20px;
}
footer .logo p{
    font-size: 19px;
    color: #747070;
    margin-top: 10px;
}
footer  ul{
    padding-right: 0 !important;
}
footer .contact ul li,
footer .links ul li{
    margin-bottom: 10px;
    color: #747070;
} 
footer .links{
    margin-bottom: 20px;
}
footer .links ul li a{
    color: #747070;
}
footer .links ul li a:hover{
   text-decoration: none;
   color: #056839;
}
footer h5{
    margin-bottom: 15px;
}

footer .copyright{
    text-align: center;
    color: #747070;
    border-top: 1px solid #747070;
    padding: 10px 0;
}