.login_page{
    background-color: #056839;
    height: 100vh;

}

.login_page   .LContainer{
    background-image: url("../images/login-bg.svg");
    background-size: 50% 100%;
    background-position: left;
    background-repeat: no-repeat;
    height:100%;
    padding: 30px 0;
}

.login_form{
    background-image: url("../images/bgAuth.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 100%;
    height: auto;
    float: right;
    background-color: #fff;
    border-radius: 10px;
    
}
.login_form .content{
    width:40%;
    margin:20px auto;
}


.login_form .content .enter_span{
    color: rgb(134, 134, 134);
    font-size: 15px;
    margin-bottom: 7px;
}
.login_form .content label{
   margin:0;
}
.login_form .content input{
    border:none;
    border-bottom:1px solid
}
.login_form .content input:focus{
    box-shadow:none;
}
.login_form .content .login_btn{
  width:100%;
  background-color: #056839;
  color:#fff;
  border-radius: 20px;
}

.login_form .content  .eye{
    position: relative;
   margin-left: 3px;
}
.login_form .content  .eye img{
    position: absolute !important;
    right: 0;
    top:50%;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    
}
.login_form .content  .forget{
    
    margin: 20px 0;

}
.login_form .content  .forget a{
    color: rgb(134, 134, 134);
    font-size: 15px;
}
.login_form .content  .forget a:hover{
    text-decoration: underline;
}
.login_form .content .log_with{
   border-radius: 20px;
   background-color: transparent;
   border: 1px solid #056839;
   padding: 10px;
   margin-top: 10px ;
   cursor: pointer;

   transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.login_form .content .log_with:hover{
    background-color: #056839;
    color: #fff;
}
.login_form .content .log_with img{
    height:20px;
    margin-right: 10px;
}


.OPT_container{
    display: flex;
    align-items: center;
}
.opt_title{
    margin-bottom: 30px;
}
.opt_input{
    margin : 30px 0
}

/* media */
@media(max-width:992px){
    .login_page{
        min-height: 100vh;
        height: auto;
    }
    .login_page   .LContainer{
        background-image: none;
     }
     .login_form{
        width: 90%;
        margin: auto !important;
        float: none;
        padding: 20px 0;
    }
    .login_form .content{
        width:80%;
    }
    .login_form .content .enter_span{
        font-size: 20px;
    }
    .login_form .content label{
        font-size: 19px;
     }
     .login_form .content .login_btn{
        padding: 13px 0;
        font-size: 21px;
        margin-bottom: 7px;
     }
     .login_form .content .log_with{
        font-size: 19px;
     }
}



