nav{
    background-color: transparent;
    position: absolute !important;
    z-index: 9999;
    width: 100%;
}

.loginli{
    margin-right: 120px;
}
.loginBtn{
    color :#fff !important;
    background-color: transparent;
    font-weight: 600 !important;
    border: none;
}
.logoutli_rtl{
    margin-right: 100px;
}
.logoutBtn{
    border: 1px solid #e91d1d;
    color: #e91d1d;
    margin: 0 10px;
    font-weight: 400;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.logoutBtn:hover{
    background-color: #e91d1d;
    color: #fff ;
}
.userName{
    color: #000;
    padding: 0 5px;
    font-weight: bold;
}
.icon_global{
   /* margin: 0 39px; */
    color: #fff;
    cursor: pointer;
}
.icon_global .lang_drop{
    margin-right: 159px;
}
.icon_global .tog_btn{
   color: #fff !important;
   font-size: 20px;
}
.icon_global .tog_btn:focus{
    box-shadow: none;
    outline: 0;;
}
.loginBtn:focus{
    box-shadow: none !important;
    outline: 0;
}
.RegistBtn{
    color:#547c0e ;
    border: 1px solid #547c0e;
    border-radius: 20px ;
    padding: 7px 20px ;
    font-weight: bold ;

    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.RegistBtn:hover{
    background-color: #547c0e;
    color:#fff !important;
}
@media(max-width:991px) {
    .collapseStyle{
        background-color: #fff !important;
        padding:10px 20px !important;
     }

     .loginBtn{
        color :#547c0e!important;
        margin-bottom: 20px;
    }

    .icon_global{
        margin: 0 !important;
        color: #000 !important;
    }

    .icon_global .tog_btn{
        color: #000 !important;
     }

    .collapseStyle ul li{
        margin-bottom: 20px !important;
        border-bottom: 1px solid #cdcaca;
        margin-right: 0;
        padding-bottom: 6px;
    }
}


/*rtl */

.collapse_rtl ul{
   margin-right: 90px !important;
}
.collapse_rtl .ul_rtl_auth{
   
    margin-left: 50px !important;
    margin-right: auto!important;
}
.collapse_rtl ul .loginli button{
   margin-left: 150px;
   color:#547c0e!important; ;
}
@media(max-width:991px) {
    .collapse_rtl ul .loginli button{
        margin-left: 0;
     }
}
.collapse_rtl ul  .icon_global .tog_btn span{
    color: #000;
}
.collapse_rtl ul .icon_global  .tog_btn::after{
    border-top: 0.3em solid #000 !important;
}
.collapse_rtl ul .icon_global .drop_menu{
    min-width: 100px !important;
}